.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .navbar {
        display: flex;
       
       
       
       
        .nav-left {}
        .nav-right {}
    }
    .hero_banner {}
    .main-content {
        .top-container {}
        .heading-card {}
        .paragraph-card {}
        .list-types-card {}
        .forms-card {
            .form-group {
                .radio-button-card {}
            
                .misc-stuff-content {}

            }
    
        }
    }
}